<form id="photo_form">
  <label for="photo_title">Title</label>
  <input type="text" name="photo[title]" id="photo_title" value="" />
  <label for="photo_url">URL</label>
  <input type="text" name="photo[url]" id="photo_url" value="" />
  <button type="submit">Create New Photo</button>
</form>
